{% extends "blog/base.html" %}
{% block content %}
    <h1>About MechFuse</h1>
     MECHFUSE PRIVATE LIMITED is a registered company under Ministry of Corporate Affairs (MCA) bearing CIN: U74999DL2019PTC349362. MECHFUSE PRIVATE LIMITED is a 0.12 Years old Private incorporated in the year 2019.

The Paid-Up Capital of MECHFUSE PRIVATE LIMITED is ₹1.00 Lakhs and is authorized to raise capital up to ₹1.00 Lakhs excluding premium.

MECHFUSE PRIVATE LIMITED is Active company as on 09-01-2020 as per MCA. The Latest Balance Sheet date of MECHFUSE PRIVATE LIMITED is -.


{% endblock content %}
